/*Header*/

header{
    background-color: beige;
    nav{
        div{
            ul{ 
                list-style: none;
                li{
                    a{
                        text-decoration: underline;
                    }

                }
            }
        }
    }
}