/*Header*/

@import "../base/variables";
@import "../base/mapas";
@import "../base/listas";



header{
    background-color: beige;
    border-radius: 4px;
    nav{
        padding: $relleno;
        div{
            ul{ 
                list-style: none;
                li{
                    a{
                        text-decoration: underline;
                        &:hover{
                            text-decoration: overline;
                        }
                    }

                }
            }
        }
    }

    @media screen and (max-width: 468px) {
        background-color: burlywood;
    }

}